<%if session[:user_id]%>
  <a href="logout">Logout</a><br>
  <h4>Your Stats</h4><br>
  <a href="scores/new">Log Activity</a>
<%else%>


  <a href="/users/new">Signup</a>

  <form method="POST" action="/login">
    <label for="username">Username:</label>
    <input id="username" name="username">
    <label for="password">Password:</label>
    <input id="password" name="password">
    <button>Login</button>
  </form>
<%end%>


<div id="leaderboard">
<h4>Leaderboard</h4>

<table >
  <tr>
    <th> Name </th>
    <th> Beer </th>
    <th> Pong </th>
    <th> Network</th>
    <th> Learning</th>
    <th> Code</th>
    <th> Total</th>
  </tr>
<%all_scores.each do |person|%>
  <tr>
    <td><%=person["username"]%></td>
    <td id="beer"><%=person["beer"]%></td>
    <td id="pong"><%=person["pong"]%></td>
    <td id="network"><%=person["network"]%></td>
    <td id="learning"><%=person["learning"]%></td>
    <td id="badass_code"><%=person["code"]%></td>
    <td id ="total_score"><%=person["total_score"]%></td>
  </tr>
<%end%>

</table>

</div>