<%if session[:user_id]%>
  <img style="width:60px" src=<%=user["image_url"]%>>
  <a href="logout">Logout</a> &nbsp;&nbsp; | &nbsp;&nbsp;
  <a href="scores/new">Log Activity</a>
  <br><br>
<%else%>


  <a href="/users/new">Signup</a>

  <form method="POST" action="/login">
    <label for="username">Username:</label>
    <input id="username" name="username">
    <label for="password">Password:</label>
    <input id="password" name="password">
    <button>Login</button>
  </form>
<%end%>

<h3>Ruler of the gSchoolers</h3>
<thumbnail style="border:1px solid">The King of Ping</thumbnail>
<thumbnail style="border:1px solid">The Sir of Suds</thumbnail>
<thumbnail style="border:1px solid">The Network Baron</thumbnail>
<thumbnail style="border:1px solid">The Earl of Learning</thumbnail>
<thumbnail style="border:1px solid">The Queen of Code</thumbnail>



<div id="leaderboard">
<hr />
<h3>Leaderboard</h3>

<table >
  <tr>
    <th> Name </th>
    <th> Beer </th>
    <th> Pong </th>
    <th> Network</th>
    <th> Learning</th>
    <th> Code</th>
    <th> Total</th>
  </tr>
<%all_scores.each do |person|%>
  <tr>
    <td><%=person["username"]%></td>
    <td id="beer"><%=person["beer"]%></td>
    <td id="pong"><%=person["pong"]%></td>
    <td id="network"><%=person["network"]%></td>
    <td id="learning"><%=person["learning"]%></td>
    <td id="badass_code"><%=person["code"]%></td>
    <td id ="total_score"><%=person["total_score"]%></td>
  </tr>
<%end%>

</table>

</div>