<%if session[:user_id]%>
  <div>Logged in as <%=user["username"]%></div>
  <a href="scores/new">Log Activity</a> &nbsp;&nbsp; | &nbsp;&nbsp;
  <a href="logout">Logout</a> &nbsp;&nbsp; | &nbsp;&nbsp;
  <a href="/users/edit">Edit Profile</a>

<%else%>


  <a href="/users/new">Signup</a>

  <form method="POST" action="/login">
    <label for="username">Username:</label>
    <input id="username" name="username">
    <label for="password">Password:</label>
    <input id="password" name="password">
    <button>Login</button>
  </form>
<%end%>

<h3>Point Leaders</h3>

<% if all_scores[0] !=nil%>
<section id="points_leaders">
<article class="one_sixth"></article>
<article class="thumb"><b>Overall</b><img src=<%=all_scores[0]["image_url"]%>><br><%=all_scores[0]["username"]%><br></article>
<article class="thumb"><b>Beverages</b><img src=<%=beverage_score[0]["image_url"]%>><br><%=beverage_score[0]["username"]%><br></article>
<article class="thumb"><b>Ping Pong</b><img src=<%=pong_score[0]["image_url"]%>><br><%=pong_score[0]["username"]%><br></article>
<article class="thumb"><b>Networking</b><img src=<%=network_score[0]["image_url"]%>><br><%=network_score[0]["username"]%><br></article>
<article class="thumb"><b>Learning</b><img src=<%=learning_score[0]["image_url"]%>><br><%=learning_score[0]["username"]%><br></article>
<article class="thumb"><b>Code</b><img src=<%=badass_code_score[0]["image_url"]%>><br><%=badass_code_score[0]["username"]%><br></article>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 <%end%>
<div id="leaderboard">
<hr />
<h3>Leaderboard</h3>





  <section class="clearfix">
    <article style="width:10%">
      Name
    </article>
    <article class="one_sixth">
      Overall
    </article>
    <article class="one_sixth">
      Beverages
    </article>
    <article class="one_sixth">
      Ping-Pong
    </article>
    <article class="one_sixth">
      Networking
    </article>
    <article class="one_sixth">
      Learning
    </article>
    <article class="one_sixth">
      Code
    </article>
  </section><!-- END row -->


  <%all_scores.each do |person|%>
    <section class="clearfix">

      <article style="width:10%"><%=person["username"]%></article>
      <article class="one_sixth" id ="total_score"><%=person["total_score"]%></article>
      <article class="one_sixth" id="beer"><%=person["beer"]%></article>
      <article class="one_sixth" id="pong"><%=person["pong"]%></article>
      <article class="one_sixth" id="network"><%=person["network"]%></article>
      <article class="one_sixth" id="learning"><%=person["learning"]%></article>
      <article class="one_sixth" id="badass_code"><%=person["code"]%></article>

    </section>
  <%end%>

</div>