<div container="fluid">

<%wide="width:150px"%>
<p>Log in, track your day's activity, and see how you stack up against your peers.</p>

<h3>Point Leaders (as of <%=date_two_weeks_ago%>)</h3>
<% if all_scores[0] !=nil%>
<table id="points_leaders" class="table">

<tr>
  <td class="col-md-1" style=<%=wide%>>
  </td>

  <td class="col-md-1" style=<%=wide%>>
    <div class="thumbnail" style="height:240px">
      <img style="height: 115px" src=<%=all_scores[0]["image_url"]%>>
      <div class="caption">
        <h4>Overall</h4>
        <p><%=all_scores[0]["username"]%></p>
      </div>
    </div>
  </td>

  <td class="col-md-1" style=<%=wide%>>
    <div class="thumbnail" style="height:240px">
      <img style="height: 115px" src=<%=beverage_score[0]["image_url"]%>>
      <div class="caption">
        <h4>Beverages</h4>
        <p><%=beverage_score[0]["username"]%></p>
      </div>
    </div>
  </td>

  <td class="col-md-1" style=<%=wide%>>
    <div class="thumbnail" style="height:240px">
      <img style="height: 115px" src=<%=pong_score[0]["image_url"]%>>
      <div class="caption">
        <h4>Ping Pong</h4>
        <p><%=pong_score[0]["username"]%></p>
      </div>
    </div>
  </td>
  <td class="col-md-1" style=<%=wide%>>
    <div class="thumbnail" style="height:240px">
      <img style="height: 115px" src=<%=network_score[0]["image_url"]%>>
      <div class="caption">
        <h4>Networking</h4>
        <p><%=network_score[0]["username"]%></p>
      </div>
    </div>
  </td>

  <td class="col-md-1" style=<%=wide%>>
    <div class="thumbnail" style="height:240px">
      <img style="height: 115px" src=<%=learning_score[0]["image_url"]%>>
      <div class="caption">
        <h4>Learning</h4>
        <p><%=learning_score[0]["username"]%></p>
      </div>
    </div>
  </td>

  <td class="col-md-1" style=<%=wide%>>
    <div class="thumbnail" style="height:240px">
      <img style="height: 115px" src=<%=badass_code_score[0]["image_url"]%>>
      <div class="caption">
        <h4>Code</h4>
        <p><%=badass_code_score[0]["username"]%></p>
      </div>
    </div>
  </td>
</tr>


</table>
<%end%>


<div id="leaderboard">
<hr />
<h3>Scoreboard (as of <%=date_two_weeks_ago%>)</h3>

  <table class="table table-bordered table-hover">
    <thead style="background-color:black; color:white">
      <td style=<%=wide%>>Name</td>
      <td style=<%=wide%>>Overall</td>
      <td style=<%=wide%>>Beverages</td>
      <td style=<%=wide%>>Ping Pong</td>
      <td style=<%=wide%>>Networking</td>
      <td style=<%=wide%>>Learning</td>
      <td style=<%=wide%>>Code</td>
    </thead>
    <tbody>
      <%all_scores.each do |person|%>
        <%if session[:user_id] == person["id"]%>
          <%highlight = "background-color:lightsalmon"%>
        <%else%>
          <%highlight = "background-color:white;"%>
        <%end%>
        <tr style=<%=highlight%>>
          <td style=<%=wide%> ><a href="/activity/<%=person['id']%>"><%=person["username"]%></a></td>
          <td id ="total_score" style=<%=wide%> ><%=person["total_score"]%></td>
          <td id="beer" style=<%=wide%> ><%=person["beer"]%></td>
          <td id="pong" style=<%=wide%> ><%=person["pong"]%></td>
          <td id="network" style=<%=wide%> ><%=person["network"]%></td>
          <td id="learning" style=<%=wide%> ><%=person["learning"]%></td>
          <td id="badass_code" style=<%=wide%> ><%=person["code"]%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
</div>

