<a href = "/">Back to Home</a>
<h1>Past Activity (last 14 days)</h1>


<div >
  <div class="row" style="background-color:black; color:white">
    <div class="col-lg-1">Date</div>
    <div class="col-lg-1">Overall</div>
    <div class="col-lg-1">Beverage</div>
    <div class="col-lg-1">Pong</div>
    <div class="col-lg-1">Network</div>
    <div class="col-lg-1">Learning</div>
    <div class="col-lg-1">Code</div>
  </div>

  <%activity.each do |day|%>
  <div class="row">


    <div class="col-lg-1"><%=day["activity_date"]%></div>
    <div class="col-lg-1"><%=day["total_score"]%></div>
    <div class="col-lg-1"><%=day["beverage"]%></div>
    <div class="col-lg-1"><%=day["pong"]%></div>
    <div class="col-lg-1"><%=day["network"]%></div>
    <div class="col-lg-1"><%=day["learning"]%></div>
    <div class="col-lg-1"><%=day["badass_code"]%></div>

  </div>
    <%end%>

</div>