<a href="/" xmlns="http://www.w3.org/1999/html">Back to Home</a>
<h1>Past Activity (last 14 days)</h1>


<table class="table table-bordered table-hover">
  <thead class="row" style="background-color:black; color:white">
    <th class="col-lg-2">Date</th>
    <th class="col-lg-1">Overall</th>
    <th class="col-lg-1">Beverage</th>
    <th class="col-lg-1">Pong</th>
    <th class="col-lg-1">Network</th>
    <th class="col-lg-1">Learning</th>
    <th class="col-lg-1">Code</th>
  </thead>
  <tbody>
  <%activity.each do |day|%>
  <tr>


    <td class="col-lg-2"><%=day["activity_date"]%></td>
    <td class="col-lg-1"><%=day["total_score"]%></td>
    <td class="col-lg-1"><%=day["beverage"]%></td>
    <td class="col-lg-1"><%=day["pong"]%></td>
    <td class="col-lg-1"><%=day["network"]%></td>
    <td class="col-lg-1"><%=day["learning"]%></td>
    <td class="col-lg-1"><%=day["badass_code"]%></td>

  </tr>
    <%end%>
  </tbody>
</table>